<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add new Customer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<main>
    <form class="relative">
        <fieldset class="auto-grid items-start">
            <input type="text" placeholder="text">
            <input type="number" placeholder="number">
            <input type="email" placeholder="email">
            <input type="tel" placeholder="tel">
            <input type="password" placeholder="password">
            <input type="search" placeholder="search">
            <input type="url" placeholder="url">
            <input type="date" placeholder="data">
            <input type="datetime-local" placeholder="datetime-local">
            <input type="time" placeholder="time">
            <input type="month" placeholder="month">
            <input type="week" placeholder="week">
            <span>
                <input type="color" placeholder="color" value="#e91e63">
                <input type="color" placeholder="color" value="#2537bb">
            </span>
            <input type="file" placeholder="file">
            <select>
                <option value="option 1">option 1</option>
                <option value="option 2">option 2</option>
                <option value="option 3">option 3</option>
            </select>
            <textarea placeholder="textarea" rows="3"></textarea>
        </fieldset>
    </form>
</main>

</html>