/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */

#map {
    height: 50%;
    border: 3px black;
}


/* 
   * Optional: Makes the sample page fill the window. 
   */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.topnav{
    position: absolute;
    width: 100%;
    height: 5%;
    background: #67B0F4;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    height: 100%;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }


#logo {
    float:left;
}
#logoimage {
    height: 125%;
    width: 125%;
}